<!DOCTYPE html>
<head>
    <style>
        body  {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-image:url("https://wallpapercave.com/wp/wp3001015.jpg");
              background-color: #cccccc;
            height: 500px;
            background-position: center;
            background-repeat: repeat;
            background-size: cover;
            position: relative;
        }
    </style>
    <title> Cycling Stats </title>
</head>

<body>
<left>
    <a href="C:\Users\jillc\Desktop\csv_file\DBMS_Project\DBMS_WebSite\inx.html">
        <button>HomePage</button>
    </a>
</left>

<left>
    <a href="C:\Users\jillc\Desktop\csv_file\DBMS_Project\DBMS_WebSite\ShowEvent.html">
        <button>Event Database</button>
    </a>
</left>

<left>
    <a href="C:\Users\jillc\Desktop\csv_file\DBMS_Project\DBMS_WebSite\InsertEvent.html">
        <button>Insert Event</button>
    </a>
</left>

    <center>
        <h1 style="color:black;"> Delete Event details </h1>
    </hr>

        <form method="POST" action="/DelEvent/{{Event.event_id}}">
            {% csrf_token%}

            <table border="1" bgcolor="red">
              <tr>
                  <td>Event ID</td>
                  <td><input type="text" name="event_id"></td>
              </tr>

              <tr>
                  <td>Event Name</td>
                  <td><input type="text" name="event_name"></td>
              </tr>

              <tr>
                  <td>Event Location</td>
                  <td><input type="text" name="event_location"></td>
              </tr>

              <tr>
                  <td>Participation</td>
                  <td><input type="text" name="participation"></td>
              </tr>

              <tr>
                  <td>no_of_audience</td>
                  <td><input type="text" name="no_of_audience"></td>
              </tr>

              <tr>
                  <td>Winner Name</td>
                  <td><input type="text" name="winner_name"></td>
              </tr>

            <tr>
                <td><input type="submit" value="Delete Record"></td>
                <td>
                    {% if messages %}
                    {% for mess in messages %}
                    <b style="color: green;">{{mess}}</b>
                    {% endfor %}
                    {% endif %}
                </td>
            </tr>
        </table>
        </form>
    </center>
</body>
</html>
