<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel = "stylesheet" href = "Styles/Styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Poppins:wght@800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cabin:ital@1&family=Lato:ital,wght@1,700&family=Poppins:wght@800&display=swap" rel="stylesheet">
<head>
    <style>
        body  {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-image:url("https://wallpapercave.com/wp/wp3001015.jpg");
            background-color: #cccccc;
            height: 500px;
            background-position: center;
            background-repeat: repeat;
            background-size: cover;
            position: relative;
        }
    </style>
    <title> Cycling Stats </title>
</head>

<body>
  <left>
      <a href="{% url 'index' %}">
          <button class="btn btn-warning">HomePage</button>
      </a>
  </left>



    <left>
        <a href="{% url 'ShowCyclist' %}">
            <button class="btn btn-warning">Cyclist Database</button>
        </a>
    </left>

    <center>
        <h1 style="color:black;"> <b>Insert Cyclist Details </b></h1>
        <hr/>
        <form method="POST">
            {% csrf_token %}
        <table border="1" bgcolor="red">
            <tr>
                <td> Cyclist ID </td>
                <td><input type="text" placeholder="Enter Cyclist ID" name="cyclist_id"></td>
            </tr>
            <tr>
                <td> Cyclist Name </td>
                <td><input type="text" placeholder="Enter Cyclist Name" name="name"></td>
            </tr>
            <tr>
                <td> Contest Name </td>
                <td><input type="text" placeholder="Enter Contest Name" name="contest"></td>
            </tr>
            <tr>
                <td> Rank </td>
                <td><input type="text" placeholder="Enter Current Rank" name="rank"></td>
            </tr>
            <tr>
                <td> E-mail </td>
                <td><input type="text" placeholder="Enter E-mail address" name="email"></td>
            </tr>
            <tr>
                <td> Event ID </td>
                <td><input type="text" placeholder="Enter Event ID" name="event_id"></td>
            </tr>
            <tr>
                <td> Country </td>
                <td><input type="text" placeholder="Enter Country name" name="country"></td>
            </tr>
            <tr>
                <td> age </td>
                <td><input type="text" placeholder="Enter age" name="age"></td>
            </tr>
            <tr>
                <td> <input type="submit" value="Insert"/> </td>
                <td>
                    {% if messages %}
                    {% for mess in messages %}
                    <b style="color: green;">{{mess}}</b>
                    {% endfor %}
                    {% endif %}
                </td>
            </tr>
        </table>
        </form>
    </center>
</body>
</html>
